.droite {
  width: 85px;
  height: 45px;
  border-radius: 30px;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #dadada;
}

.clickIcon {
  color: red;
}
